body {
    background: #2099C1;
}

.box {
    background: none;
    display: block;
    height: 420px;
    margin: auto;
    margin-top: 8%;
    position: relative;
    width: 600px;
}

.head {
    background: #a6becf;
    border-radius: 50%;
    height: 67%;
    left: 25%;
    position: absolute;
    top: 16.5%;
    width: 50%;
}

.head-copy {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #a6becf;
    border-radius: 50%;
    z-index: 2;
}

.ear-left {
    background: #a6becf;
    border-radius: 50%;
    height: 65%;
    left: -20%;
    position: absolute;
    top: 5%;
    width: 60%;
    z-index: 1;
}

.ear-right {
    background: #a6becf;
    border-radius: 50%;
    height: 65%;
    position: absolute;
    right: -20%;
    top: 5%;
    width: 60%;
    z-index: 1;
}

.inner-ear {
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: #819caf;
}

.eye-left {
    position: absolute;
    background: white;
    border-radius: 50%;
    top: 25%;
    left: 21%;
    width: 30%;
    height: 33%;
    z-index: 3;
}

.eye-right {
    position: absolute;
    background: white;
    border-radius: 50%;
    top: 25%;
    right: 21%;
    width: 30%;
    height: 33%;
    z-index: 3;
}

.pupil {
    position: absolute;
    background: black;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
}

.nose {
    position: absolute;
    background: #be845f;
    border-radius: 50px; 
    width: 25%;
    height: 45%;
    top: 40%;
    left: 37.5%;
    z-index: 4;
}

.hair-left {
    background: #a6becf;
    height: 20%;
    left: 30%;
    position: absolute;
    top: -8%;
    width: 20%;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.hair-right {
    background: #a6becf;
    height: 20%;
    right: 30%;
    position: absolute;
    top: -4%;
    width: 20%;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}