$gradient: linear-gradient(
    to bottom,
    #EE5365,
    #EE5365 47.5%,
    #40474A 47.5%,
    #40474A 52.5%,    
    #FAFAFA 52.5%,
    #FAFAFA
       
);

$bg-color: #F6D763;

body {
    background: $bg-color;
}

.ball {
    margin: auto;
    background-image: $gradient;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;

    &::after {
        content: "";
        background: #FAFAFA;
        width: 15%;
        height: 15%;
        top: 39%;
        left: 39%;
        position: absolute;
        border-radius: 50%;
        border: 20px solid #40474A;
    }
}